# Langfuse Configuration
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""

# OpenRouter Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
MODEL=google/gemma-4-26b-a4b-it:free
